<div id="FAB" (click)="open()" (mouseenter)="open()" (mouseleave)="close()">
  <ul id="options" class="options">
    <li (click)="action.emit(4)">
      <button mat-mini-fab class="red">
        <img src="assets/speaker.svg" style="width: 1.4rem;"/>
      </button>
    </li>

    <!-- <li (click)="action.emit(3)">
      <button mat-mini-fab class="yellow">
        <img src="assets/drug.svg" style="width: 1.4rem;"/>
      </button>
    </li>

    <li (click)="action.emit(2)">
      <button mat-mini-fab class="green">
        <img src="assets/flask-full.svg" style="width: 1.4rem;"/>
      </button>
    </li> -->

    <li (click)="action.emit(1)">
      <button mat-mini-fab class="blue white-text">
        <mat-icon>person_add</mat-icon>
      </button>
    </li>
  </ul>
  <button mat-fab color="accent" class="white-text">
    <mat-icon>add</mat-icon>
  </button>
</div>